<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Exercise Recommendation</h1>
        <div id="exercise-section">
            {% if exercise %}
            <div>
                <h2>{{ exercise['Exercise Name'] }}</h2>
                <p><strong>Equipment:</strong> {{ exercise['Equipment'] }}</p>
                <p><strong>Main Muscle:</strong> {{ exercise['Main_muscle'] }}</p>
                <p><strong>Difficulty:</strong> {{ exercise['Difficulty (1-5)'] }}</p>
                <p><strong>Mechanics:</strong> {{ exercise['Mechanics'] }}</p>
                <p><strong>Preparation:</strong> {{ exercise['Preparation'] }}</p>
                <p><strong>Execution:</strong> {{ exercise['Execution'] }}</p>
                <p><strong>Secondary Muscles:</strong> {{ exercise['Secondary Muscles'] }}</p>
            </div>
            
                <form method="POST" action="/exercise_page">
                    <button type="submit" name="action" value="accept">Accept</button>
                    <button type="submit" name="action" value="reject">Reject</button>
                </form>
            {% else %}
                <p>No more exercises available to recommend.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
